BODY{
    margin: 0;
    font-family: "Salsa", serif;
}
.jhalar{
    width: 220px;
    margin-bottom: -190px;
}
.hero-section {    
    /* min-height: 100vh; */
    background-color: #F99501;
    background-image: url(/image/orange-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.paragraph-and-audio{
    margin-left: 15rem;
}
.hero-section p{
    font-size: 46px;
    font-family: "Salsa", serif;
    max-width: 550px;
    /* margin-left: 15rem; */
}

audio::-webkit-media-controls-panel {
  background-color: #FBD8A4;
  color: #000;
}

.audio-container{
    background-color: #FBD8A4;
    max-width: 500px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

}

.horizontal-divider{
    display: flex;
    align-items: center;
    
    gap: 12px;
    max-width: 800px;
    margin-inline: auto;
    margin-bottom: 2rem;
}
.horizontal-line{
    height: 2px;
    width: 468px;
    background-color: #FBD8A4;
}
.circle{
    width: 10px;
    height: 10px;
    background-color: #FBD8A4;
    border-radius: 50%;
    flex-shrink: 0;
    
}
.lakshmi-ganesh-section{
    background-color: #f99501;
    padding-block: 1rem;
    padding-inline: 1rem;
}
.lakshmi-ganesh-img{
    max-width: 900px;
    width: 100%;
    display:block ;
    margin-inline: auto;
}
.lakshmi-ganesh-section h2{
    font-family: "Style Script", serif;
    font-size: 54px;
    font-weight: 400;
    text-align:center ;
}

.white-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.white-card{
    max-width: 500px;
    background-color: white;
    padding: 4rem;
    border-radius: 24px;
    
}
.white-card p {
    font-size: 32px;
}
 .little-girl{
    width: 260px;
    margin-left: -5rem;
 }
 .lakshmi-ganesh-card img{
    width: 50%;
 }
 .lakshmi-ganesh-card{
    background-color: white;
    padding: 4rem;
    border-radius: 24px;
    max-width:772px ;
    display: flex;
    margin-inline: auto;
 }
 .thank-you-text{
    max-width: 900px;
    width: 100%;
    margin-inline: auto;
   
 }
 .thank-you-text h2{
    text-align: left;
 }

 .my-name{
    text-align: right;
    font-size: 14px;
 }
@media (max-width:840px){
    .first-deepak{
        display:flex ;
        margin-left: auto;
    }
    .second-deepak,
    .jadu{
        display: none;
    }
    .paragraph-and-audio{
        margin-left: 1rem;
    }
    .jhalar{
        margin-bottom: 0;
    } 
    .audio-container{
        max-width: max-content;;
    }
    .hero-section p{
        font-size: 28px;
    }
    .white-card p {
        font-size: 1.25rem;
    }
    .white-card{
        padding-block: 1rem;
        padding-left: 2rem;
    
    }
    .little-girl{
        width: 160px;
     } 

     .lakshmi-ganesh-card{
        padding:2rem ;
     }
}
@media (max-width:540px){
    .hero-section p{
        font-size: 24px;
    }
    .first-deepak{
        width: 100%;
        max-width: 280px;
    }
    .lakshmi-ganesh-section h2{
        font-size: 32px;
    }
    .white-card p {
        font-size: 1rem;
    }
}
/* @media (width < 840px){
    .second-deepak{
        display: none;
    }
} */